#app-container {
  font-family: "Source Sans 3", sans-serif;

  max-width: 1180px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

.card {
  padding: 2em;
  background-color: white; /* Card background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Deeper shadow for depth */
  margin: 1em 0; /* Spacing between cards */
  position: relative; /* Position for potential overlays */
  z-index: 2; /* Above background shapes */
}
